body{
    background-color: rgb(228, 227, 236);
    font-family: 'Rubik', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}